### Importing the Necessary Packages

In [37]:
import pandas as pd
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

### Loading the Dataset

In [24]:
df = pd.read_csv(r'detection_results_info\all_detections.csv')

In [25]:
df.head()

,image,name,confidence,xmin,ymin,xmax,ymax
0,@CheMed123_13.jpg,sports ball,0.729678,318.366425,394.813049,382.800201,462.255859
1,@CheMed123_13.jpg,sports ball,0.684087,739.459229,544.979797,807.581909,615.879944
2,@CheMed123_13.jpg,cup,0.677431,738.390198,542.634155,807.933777,616.783691
3,@CheMed123_13.jpg,sports ball,0.511538,668.202393,589.573730,730.860596,657.322266
4,@CheMed123_13.jpg,sports ball,0.450486,231.458694,473.585480,299.499542,536.707458

In [26]:
df['name'].unique()

array(['sports ball', 'cup', 'carrot', 'bottle', 'refrigerator', 'person',
       'chair', 'book', 'cell phone', 'frisbee', 'motorcycle', 'clock',
       'orange', 'baseball bat', 'mouse', 'remote', 'keyboard',
       'toothbrush', 'kite', 'horse', 'stop sign', 'potted plant', 'tv',
       'banana', 'vase', 'sandwich', 'cake', 'tie', 'toilet', 'suitcase',
       'apple', 'parking meter', 'bowl', 'knife', 'cat', 'microwave',
       'donut', 'fork'], dtype=object)

### Performing Transformation before Loading to the Dataset

#### Replacing Terms Related to Pills

In [27]:
df['name'] = df['name'].replace({'sports ball': 'pill', 'frisbee': 'pill','apple': 'pill', 'remote': 'pill',
                                 'orange': 'pill', 'keyboard': 'pill','banana': 'pill',
                                 'mouse': 'pill', 'toilet': 'pill'})

#### Replacing terms Related to Needle

In [28]:
df['name'] = df['name'].replace({'baseball bat': 'needle'})

#### Replacing Terms Related to Foods and Supplements

In [29]:
df['name'] = df['name'].replace({'parking meter': 'foods and supplements',
                                 'cup': 'foods and supplements'})

#### Replacing Terms Related to Skin and Hair Care Products

In [30]:
df['name'] = df['name'].replace({'book': 'skin and hair care product','parking meter': 'skin and hair care product',
                                 'vase': 'skin and hair care product', 'surf board': 'skin and hair care product'})

### Looking to the Modified Dataframe

In [33]:
df.head(10)

,image,name,confidence,xmin,ymin,xmax,ymax
0,@CheMed123_13.jpg,pill,0.729678,318.366425,394.813049,382.800201,462.255859
1,@CheMed123_13.jpg,pill,0.684087,739.459229,544.979797,807.581909,615.879944
2,@CheMed123_13.jpg,foods and supplements,0.677431,738.390198,542.634155,807.933777,616.783691
3,@CheMed123_13.jpg,pill,0.511538,668.202393,589.573730,730.860596,657.322266
4,@CheMed123_13.jpg,pill,0.450486,231.458694,473.585480,299.499542,536.707458
5,@CheMed123_13.jpg,carrot,0.433008,484.612061,559.840820,578.427979,645.527222
6,@CheMed123_13.jpg,pill,0.272149,588.231079,584.226318,703.440796,702.941772
7,@CheMed123_13.jpg,foods and supplements,0.255105,773.672363,623.518127,842.302246,695.905701
8,@CheMed123_17.jpg,bottle,0.672029,575.376160,379.736206,607.631653,462.848083
9,@CheMed123_17.jpg,bottle,0.439900,610.259399,513.444336,638.639160,603.277832

In [32]:
df['name'].unique()

array(['pill', 'foods and supplements', 'carrot', 'bottle',
       'refrigerator', 'person', 'chair', 'skin and hair care product',
       'cell phone', 'motorcycle', 'clock', 'needle', 'toothbrush',
       'kite', 'horse', 'stop sign', 'potted plant', 'tv', 'sandwich',
       'cake', 'tie', 'suitcase', 'bowl', 'knife', 'cat', 'microwave',
       'donut', 'fork'], dtype=object)

In [34]:
# Filter rows where 'Category' is 'A' or 'B', and 'Value' is less than or equal to 4
filtered_df = df[((df['name'] == 'pill') | (df['name'] == 'foods and supplements') | ((df['name'] == 'bottle'))
                  | (df['name'] == 'skin and hair care product') | (df['name'] == 'needle'))]

In [35]:
filtered_df.head()

,image,name,confidence,xmin,ymin,xmax,ymax
0,@CheMed123_13.jpg,pill,0.729678,318.366425,394.813049,382.800201,462.255859
1,@CheMed123_13.jpg,pill,0.684087,739.459229,544.979797,807.581909,615.879944
2,@CheMed123_13.jpg,foods and supplements,0.677431,738.390198,542.634155,807.933777,616.783691
3,@CheMed123_13.jpg,pill,0.511538,668.202393,589.573730,730.860596,657.322266
4,@CheMed123_13.jpg,pill,0.450486,231.458694,473.585480,299.499542,536.707458

In [36]:
filtered_df['name'].unique()

array(['pill', 'foods and supplements', 'bottle',
       'skin and hair care product', 'needle'], dtype=object)

In [38]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 196 entries, 0 to 308
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   image       196 non-null    object
 1   name        196 non-null    object
 2   confidence  196 non-null    float64
 3   xmin        196 non-null    float64
 4   ymin        196 non-null    float64
 5   xmax        196 non-null    float64
 6   ymax        196 non-null    float64
dtypes: float64(5), object(2)
memory usage: 12.2+ KB

### Export the Filtered Dataframe to Postgres

In [40]:

# Load environment variables from the .env file
load_dotenv()

# Fetch database connection parameters from environment variables
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT', 5432)  # Default port is 5432 if not specified
db_name = os.getenv('DB_NAME')

# Create a connection string for PostgreSQL
connection_string = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'

# Create a SQLAlchemy engine
engine = create_engine(connection_string)

# Example: Assuming 'all_detections' is your DataFrame
table_name = 'extracted_objects_info'

filtered_df = filtered_df.rename(columns={'xmin': 'x_min'})
filtered_df = filtered_df.rename(columns={'ymin': 'y_min'})
filtered_df = filtered_df.rename(columns={'xmax': 'x_max'})
filtered_df = filtered_df.rename(columns={'ymax': 'y_max'})

# Export the DataFrame to PostgreSQL
filtered_df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"Data successfully exported to {table_name} in {db_name} database.")

Data successfully exported to extracted_objects_info in data_warehouse database.