### Importing the Necessary Packages

In [2]:
import pandas as pd

### Loading the Dataset

In [3]:
df = pd.read_csv(r'C:\Users\Blen\OneDrive\Desktop\10Academy\BuildingDataWarehouse\data\raw_data.csv')

In [4]:
df.head()

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12366,SULFUR8 205g\nPrice 3000 birr \nTelegram https...,2024-10-09 12:44:53+00:00,photos\@lobelia4cosmetics_12366.jpg
1,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12365,CHIA SEEDS \nPrice 3000 birr \nTelegram https:...,2024-10-09 12:44:53+00:00,photos\@lobelia4cosmetics_12365.jpg
2,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12364,GLUCOSAMINE 1000MG/100MG 90 CAPSULES \nPrice 5...,2024-10-09 12:44:53+00:00,photos\@lobelia4cosmetics_12364.jpg
3,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12363,SUDO CREAM \nPrice 4000 birr \nTelegram https:...,2024-10-09 12:44:53+00:00,photos\@lobelia4cosmetics_12363.jpg
4,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12362,Coconut oil \nPrice 4500 birr \nTelegram https...,2024-10-09 12:44:53+00:00,photos\@lobelia4cosmetics_12362.jpg

### Checking for Missing Values

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6984 entries, 0 to 6983
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel Title     6984 non-null   object
 1   Channel Username  6984 non-null   object
 2   ID                6984 non-null   int64
 3   Message           5566 non-null   object
 4   Date              6984 non-null   object
 5   Media Path        5176 non-null   object
dtypes: int64(1), object(5)
memory usage: 327.5+ KB

### Handling Missing Values

In [7]:
df = df.dropna(subset=['Message'])

# Print the shape of the dataset after dropping NaN values in the "Message" column
print(f"Dataset shape after dropping NaN values in 'Message' column: {df.shape}")

Dataset shape after dropping NaN values in 'Message' column: (5566, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5566 entries, 0 to 6982
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel Title     5566 non-null   object
 1   Channel Username  5566 non-null   object
 2   ID                5566 non-null   int64
 3   Message           5566 non-null   object
 4   Date              5566 non-null   object
 5   Media Path        4219 non-null   object
dtypes: int64(1), object(5)
memory usage: 304.4+ KB

### Droping Duplicates

In [11]:
df = df.drop_duplicates(subset='Message')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3164 entries, 0 to 6982
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel Title     3164 non-null   object
 1   Channel Username  3164 non-null   object
 2   ID                3164 non-null   int64
 3   Message           3164 non-null   object
 4   Date              3164 non-null   object
 5   Media Path        1949 non-null   object
dtypes: int64(1), object(5)
memory usage: 173.0+ KB

In [13]:
df.head()

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12366,SULFUR8 205g\nPrice 3000 birr \nTelegram https...,2024-10-09 12:44:53+00:00,photos\@lobelia4cosmetics_12366.jpg
1,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12365,CHIA SEEDS \nPrice 3000 birr \nTelegram https:...,2024-10-09 12:44:53+00:00,photos\@lobelia4cosmetics_12365.jpg
2,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12364,GLUCOSAMINE 1000MG/100MG 90 CAPSULES \nPrice 5...,2024-10-09 12:44:53+00:00,photos\@lobelia4cosmetics_12364.jpg
3,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12363,SUDO CREAM \nPrice 4000 birr \nTelegram https:...,2024-10-09 12:44:53+00:00,photos\@lobelia4cosmetics_12363.jpg
4,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12362,Coconut oil \nPrice 4500 birr \nTelegram https...,2024-10-09 12:44:53+00:00,photos\@lobelia4cosmetics_12362.jpg

In [19]:
df[df["Channel Username"] == "@lobelia4cosmetics"].info(5)

<class 'pandas.core.frame.DataFrame'>
Index: 237 entries, 0 to 2338
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel Title     237 non-null    object
 1   Channel Username  237 non-null    object
 2   ID                237 non-null    int64
 3   Message           237 non-null    object
 4   Date              237 non-null    object
 5   Media Path        234 non-null    object
dtypes: int64(1), object(5)
memory usage: 13.0+ KB

### Droping the "Media Path" Column

In [20]:
filtered_df = df.drop('Media Path', axis=1)

In [25]:
filtered_df.head()

,Channel Title,Channel Username,ID,Message,Date
0,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12366,SULFUR8 205g\nPrice 3000 birr \nTelegram https...,2024-10-09 12:44:53+00:00
1,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12365,CHIA SEEDS \nPrice 3000 birr \nTelegram https:...,2024-10-09 12:44:53+00:00
2,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12364,GLUCOSAMINE 1000MG/100MG 90 CAPSULES \nPrice 5...,2024-10-09 12:44:53+00:00
3,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12363,SUDO CREAM \nPrice 4000 birr \nTelegram https:...,2024-10-09 12:44:53+00:00
4,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12362,Coconut oil \nPrice 4500 birr \nTelegram https...,2024-10-09 12:44:53+00:00

### Exporting the Data to CSV

In [23]:
filtered_df.to_csv('cleaned_data.csv', index=False)